NEXT_PUBLIC_SUPABASE_URL=https://vxlfghvrxnkblcgdlhwo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4bGZnaHZyeG5rYmxjZ2RsaHdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMjY1NDYsImV4cCI6MjA5NjYwMjU0Nn0.zoNbTvDr13fVTp4ytqMfURbI4SrggrorP740dr2ditg
ADMIN_PASSWORD=your-secret-password-here
